@mixin login__link {
    color: #BA66A3;
    font-size: 1.3em;
    margin-top: 1.5em;
    font-weight: bold;
    width: auto;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: #C882B4;
    }
}

.login {
    width: auto;
    min-height:100vh;
    display: flex;
    &__image {
        width:50%;
        object-fit: cover;
        height: 100vh;
    }
    &__form {
        width: 50%;
        text-align: center;
        background-color: #FBE9F6;
        padding-top: 7em;
        &-error {
            color: red;
            font-size: 0.8em;
            display: block;
        }
        &-forgotPassword {
            display: flex;
            margin: auto;
            width: 100%;
            justify-content: center;
            &__link {
                @include login__link
            }
        }
        &-register {
            margin-top: 1em;
            &__span {
                font-size: 1.3em;
                opacity: 0.4;
                width: auto;
                margin-top: 1.5em;
                margin-right: 6px;
            }
            &__link {
                @include login__link
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .login__image {
        display: none;
    }
    .login__form {
        width: 100%;
    }
}