.div {
    min-width: 100vh;
    height: 5vh;
    background-color: #C882B4;
    text-align: center;
    padding-top: 1.5vh;
}

.span {
    color: #ffffff;
    font-weight: 700;
    font-size: 0.8em;
}