.post-body {
    width: auto;
    margin-bottom: 4%;
    display: flex;
    .body-img {
        min-width: 35vh;
        max-width: 35vh;
        min-height: 35vh;
        max-height: 35vh;
    }
    .main {
        max-width: 74%;
        display: block;
        .main-tags {
            margin-top: 2%;
            margin-left: 2%;
            .main-tags__span-1 {
                font-size: 0.8em;
            }
            .main-tags__span-2 {
                margin-left: 2%;
                color: #BA66A3;
                background-color: #FBE9F6;
                padding: 0.3vh;
                font-size: 0.8em;
                font-weight: 1000;
            }
        }
        .main-title {
            margin-top: 2%;
            margin-left: 2%;
            .link {
                text-decoration: none;
                .main-title__span {
                    color: #BA66A3;
                    font-weight: 1000;
                    font-size: 1.2em;
                }
            }
        }
        .main-text {
            margin-top: 2%;
            margin-left: 2%;
            .main-text__span {
                font-size: 0.8em;
                opacity: 0.9;
            }
        }
        .main-buttons {
            display: flex;
            align-items:center;
            margin-left: 2%;
            .main-buttons__white {
                height: auto;
                font-size: 1.2em;
            }
            .main-buttons__actions {
                margin-left: 5%;
                margin-top: 5%;
                
            }
            
        }
}   }

@media screen and (max-width: 550px) {
    .post-body {
        display: block;
    }
} 