.popularpublication-head {
    margin-top: 10%;
    .main-line {
        border-top: #dbc7c7 solid 1px;
        width: 90%;
        margin-bottom: 5%;
    }
    .main-title {
        margin-bottom: 5%;
        .main-title__span {
            font-size: 1.7em;
            opacity: 0.7;       
        }
    }
    .main-title-2 {
        .title {
            color: #BA66A3;
            font-size: 1em;
            font-weight: 800;
        }
    }
    .main-text {
        .text {
            font-size: 0.8em;
            opacity: 0.7;
        }
    }
    .main-date {
        margin-top: 2%;
        .date {
            font-size: 0.8em;
            opacity: 0.5;
        }
    }
}