.navbar-div {
    background-color: #BA66A3;
    min-height: 14vh;
    display: flex;
}

.navbar-img {
    width: 12%;
    margin-left: 6%;
}

.navbar-div-link {
    margin-left: auto;
    justify-items: auto;
    display: flex;
}

.navbar-link {
    margin: auto;
    margin-right: 5vh;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.navbar-link-2 {
    margin: auto;
    margin-left: 0vh;
    margin-right: 5vh;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;  
}

.navbar-sair {
    margin: auto;
    margin-left: 0vh;
    margin-right: 5vh;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background-color: #BA66A3;
    border: none;
    opacity: 0.8;
    &:hover {
        cursor: pointer;
    }
}