.reset-password-div {
    width: auto;
    min-height:100vh;
    display: flex;
}

.reset-password-image {
    width:50%;
    object-fit: cover;
}

.reset-password-div-form {
    width: 50%;
    text-align: center;
    background-color: #FBE9F6;
    padding-top: 8em;
}

.reset-password-span-error {
    color: red;
    font-size: 0.8em;
    display: block;
}